.info, .education {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.info img, .education img {
    padding: 20px;
    width: 40%;
}

.infoText, .educationText {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.infoHeader, .educationHeader {
    text-align: center;
}

.infoContent, .educationContent {
    text-align: left;
    font-size: 20px;
}
.educationContent2 {
    font-size: 15px;
}
.funfact{
    font-size: 12px;
}

/* For Mobile Devices*/
@media (max-width: 650px) {
    .info, .education {
        flex-direction: column;
    }
    .infoContent, .educationContent {
        font-size: 15px;
    }
    .funfact {
        font-size: 10px;
    }
    .educationContent2 {
        font-size: 12px;
    }
    .education img {
        display: none;
    }
}